@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap");

#card {
  border: solid rgb(100, 100, 100);
  border-radius: 30px 30px;
  padding: 30px;
  width: 100vw;
  font-family: "Roboto Mono", monospace;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
p {
  font-family: "Roboto Mono", monospace;
}
